@using MyCars.ViewModels
@model DetailsUserCar

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>UserInfo</h4>
    <hr />
    <div class="editor-label"><b>Choose a car model</b></div>
    <div class="editor-field">
        @Html.DropDownList("Name", ViewBag.Brands as SelectList, new { id = "brand" })
    </div>
    <div class="editor-field">
        @Html.DropDownListFor(model => model.TypeId, new SelectList(ViewBag.Types, "Id", "Name"), new { id = "TypeCarId" })
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
    $(function () {

        $('#brand').change(function()
        {
            var idd = $(this).val();
            $.ajax({
                type: 'GET',
                url: '@Url.Action("GetItems")/' + idd,
                success: function (data) {

                    $('#TypeCarId').replaceWith(data);
                }
            });
        });
    })
    </script>
}