@using MyCars.Models
@model UserInfo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Информация</legend>

    <div class="display-label"><b>First Name</b></div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FirstName)
    </div>

    <div class="display-label"><b>Last Name</b></div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastName)
    </div>

    
    <div class="display-label"><b>Car</b> @Html.ActionLink("Add", "Edit")</div>
    <ul>
        @foreach (var c in Model.TypeModels)
        {
            <li>
                @c.Name
            @Html.ActionLink("Delete", "Delete"@*, new { id=item.Id }*@)
        </li>
    }
    </ul>
</fieldset>
