@using MyCars.Models
@model UserInfo

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>UserInfo</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)

    <div class="form-group">
        @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.middleName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.middleName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.middleName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.CarNumber, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.CarNumber, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.CarNumber, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="dropDown">

        @foreach (var it in ViewBag.Dictionary)
        {
            <div class="form-group">
                @Html.Label("Choose a car model", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="dropdown col-md-10">
                    @Html.DropDownList("BrandId", new SelectList(ViewBag.Brands, "Id", "Name", it.Value), new { id = "brand", @class = "btn btn-default brand" })
                    @Html.DropDownList("selectedModel", new SelectList(ViewBag.Types, "Id", "Name", it.Key), new { @class = "btn btn-default selectedModel" })
                    <button type="button" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span></button>
                </div>
            </div>
        }
    </div>


    <a href="#" id="newCar">Add New Car</a>



    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
    $(function () {
        $('#newCar').click(function () {
            var dropDown = $('<div class="form-group"></div>');
            $('.dropDown').append(dropDown);
            
            $.get('@Url.Action("AddNewCar", "Admin")', {}, function (response) {
                $(dropDown).html(response);
            });
        });

        $(document).on("change", ".brand", function (e)
        {
            var idd = $(this).val();
            var targetSelect = this;
            $.ajax({
                type: 'GET',
                url: '@Url.Action("GetItems")/' + idd,
                success: function (data) {
                    $(targetSelect).parent().find('.selectedModel').replaceWith(data);
                }
            });
        });

        $(document).on("click", "button", function (e) {
            $(this).closest('.form-group').remove();
        });
    })
    </script>
}